<div class="padding" ng-controller="signupController">
	<super-navbar>
		<super-navbar-title>Sign Up</super-navbar-title>
		<super-navbar-button side="right" ng-click="close()">Close</super-navbar-button>
	</super-navbar>
	<div class="list list-inset">
  		<label class="item item-input">
    		<input type="text" placeholder="First Name">
  		</label>
  		<label class="item item-input">
    		<input type="text" placeholder="Last Name">
  		</label>
  		<label class="item item-input">
    		<input type="email" placeholder="Email">
  		</label>
  		<label class="item item-input">
    		<input type="password" placeholder="Password">
  		</label>
	</div>
	<button class="button button-block button-energized">Sign Up</button>
</div>
