/***********************************************************
 * These styles apply for native components on iOS.
 * Read more about native styles at http://docs.appgyver.com
 ***********************************************************/

navigation-bar {
  background-color: #00B5FF;
  color: #ffffff;
}

navigation-bar title {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
}

navigation-bar button, navigation-bar back-bar-button {
  color: #ffffff;
  font-weight: 300;
}

navigation-bar button {
  padding: 4px;
  border-radius: 4px;
  border: 2px solid #ffffff;
  font-weight: bold;
  font-size: 14px;
}

tab-bar {
  background-color: #ffffff;
  border-top: 1px #d8d8d8 solid;
}

tab-bar tab-bar-item {
  color: #b0b1b4;
  font-family: "Avenir";
  font-size: 10px;
}

tab-bar tab-bar-item:selected {
  color: #1596f7;
}

tab-bar-item#featured {
  background-image: url(icons/favourite24.svg);
}

tab-bar-item#settings {
  background-image: url(icons/setting5.svg);
}

tab-bar-item#index {
  background-image: url(icons/home166.svg);
}

tab-bar-item#internet {
  background-image: url(icons/flag86.svg);
}

tab-bar-item#cart {
  background-image: url(icons/cart.svg);
}
